<div class="container">
  <h1>Wikis</h1>

  <% @wikis.each do |wiki| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <% if wiki.private && current_user.standard? %>
            <p><%= link_to wiki.title, wiki %> - <small>Private</small></p>
          <% else %>
            <p><%= link_to wiki.title, wiki %></p>
          <% end %>
        </h4>
      </div>
    </div>
  <% end %>

  <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
</div>
