<div class="col-lg-4 text-center">
  <h2>Upgrade to Premium Account</h2>
  <h3>$15.00</h3>

  <p>You get unlimited public/private wikis</p>

  <%= form_tag charges_path do %>
    <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" ></script>
  <% end %>
</div>
